.post {
  border: solid 2px rgb(13, 143, 13);

  &:hover {
    border-color: white;
    transition: all 0.5s ease-out;
  }
}

.post-image {
  max-width: 400px;
  object-fit: contain;
  // max-height: 300px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  justify-content: center;
  margin: 4rem;
}
